*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#container {
  position: relative;
  height: 100vh;
  width: 100%;
}

#map {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  /* opacity: 0.8; */
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.left-pane-detail {
  opacity: 1;
  margin-left: 10px;
  margin-right: 10px;
}

#mydivheader{
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #f1f1f1;
  color: #000;
}

/* file upload  */
.file-upload {
  margin-left: 5px;
  margin-right: 5px;
}
/* --- leaflet ---  */

/* checkbox div */

.checkBoxDiv {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 0;
  left: 20px;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  /* margin-top: auto; */
}

.checkBox {
  padding: 0 10px;
}

.right-pane-top {
  height: 20vh;
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 50px;
  z-index: 10;
  background: aliceblue;
  display: none;
  /* background: rgba(0, 0, 0, 0.5); */
}

.right-pane-bottom {
  height: 20vh;
  width: 20%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px 10px;
  z-index: 10;
  background: aliceblue;
  /* background: rgba(0, 0, 0, 0.5); */
  display: none;
}

.buttonDiv {
  display: flex;
  max-width: 100%;
  margin: auto 10px;
}

.border {
  border-style: 5px dashed !important;
}

/* .dragArea .icon {
    font-size: 1.5rem;
}

.dragArea--over{
    border: solid;
} */

/* .box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
} */

.dragArea-dragging:hover {
    background-color: lighten(#6583fe, 28%);
}

.div {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.buttonDiv {
  display: flex;
  gap: 10px;
  max-width: 100%;
  margin: 10px 5px 0;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  border: none;
}

.buttonDiv button {
  border: none;
  padding: 10px 15px;
  /* border-radius: 5px; */
  color: rgb(219, 219, 219);
  background-color: #14A800;
}


.buttonDiv .active{
  background-color: #127C00;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 5px;
}


.slider {
  appearance: none;
  background: #fff;
  outline: none;
  border: 1px solid #fff;
  border-radius: 2px;
  width: 30%;
  height: 3px;
  background: #c3c3c3;
}

.slider::-webkit-slider-thumb {
  background: #fff;
  appearance: none;
  background: rgb(255, 255, 255);
  width: 10px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #929292;
  border-radius: 3px;
}

.opacityDiv {
  display: flex;
  align-items: center;
  margin: 5px;
  /* flex-wrap: wrap; */
  max-width: 100%;
}

.opacity {
  width: 50%;
}

.colorInput {
  display: none;
}

.imageryDiv {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 10px;
}

.imageryDiv .imagery {
  display: flex;
  gap: 36px;
  margin: 10px 0;
}

/* .imagery select {
  background: #d8d8d8;
  color: rgb(0, 0, 0);

} */
.imagery label {
  margin-top: 5px;
}

/* .DateRangeDiv {
  display: flex;
  gap: 5px;
  align-items: center;
  max-width: 100%;
} */

.DateRangeDiv input::-webkit-datetime-edit {
  padding: 0.2em;
}

.RangeDiv {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

/* .RangeDiv select {
  margin-right: 10px;
  padding: 5px;
  background: #d8d8d8;
  color: rgb(0, 0, 0);
} */

.radios {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.radios label {
  text-align: center;
  margin-top: 8px;
}

.form button {
  width: 100px;
  border: none;
  height: 40px;
  border-radius: 5px;
  background-color: #127C00;
  color: #fff;
  font-size: 1.2rem;
}

.btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
    
}

.Rand0Div {
  border: 1px solid;  
  padding: 10px;
  max-width: 100%;
}

/* .gammaSlider {
  display: none;
} */

.visualization {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  text-align: center;
  font-size: 1.2rem;
  max-width: 100%;
  max-height: 100%;
}

.visualization button {
  text-align: center;
  align-items: center;
  height: 40px;
  width: 120px;
  font-size: 1.1rem;
  /* text-transform: uppercase; */
}

.imageryBtn {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 0;
}

/* rounded switch toggle button */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
} 

 .switchSlider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
} 

 .switch input:checked +.switchSlider {
  background-color: #127C00;
}

.switch input:focus +.switchSlider {
  box-shadow: 0 0 1px #127C00;
  /* box-shadow: 0 0 1px #14A800; */
  } 

 .switch input:checked +.switchSlider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}  


.switchSlider.round {
  border-radius: 34px;
}

.switchSlider.round::before {
  border-radius: 50%;
} 

.colshow {
  display: none;
}

/* @media  (max-width:1024px) {
    #left-pane,.div {
      width: 100%;
      margin:5px 0;
      height: 100%;
    }
    /* .visualization {
      flex-direction: column;
    } */
    /* .form {
      width:100%;
      margin: 5px 0;
    } */

    /* .RangeDiv {
      flex-direction: column;
    } */

    /* .Rand0Div {
      display: flex;
      flex-direction: column;
    } */

    /* .opacityDiv {
      flex-direction: column;
      /* margin: 5px auto; */
      /* align-items: center;
      justify-content: center;
      gap: 10px; */
    /* }

    .radios {
      justify-content: space-between;
      margin: 5px 0;
    }

    .checkBoxDiv {
      /* margin: 35px 0 0 0; */
      /* flex-direction: column; */
      /* margin-top: 20px; 
      position: absolute;
      top: 1050px;
    }

    .div {
      margin: 10px 0;
    }

    .btn {
      margin: 5px 0;
    }

}

/* @media  (max-width:768px) {
  #left-pane{
    width: 100%;
    margin:5px 0;
  }

  .form {
    width: 100%;
    margin: 0;
  }
} 

@media (max-width:768px) {
  #container {
    width: 100%;
    max-height: 100%;
  }

  #left-pane,.div {
    width: 100%;
    margin:5px 0;
    height: 100%;
  }
  /* .visualization {
    flex-direction: column;
  } 
  .form {
    width:100%;
    margin: 5px 0;
  }

  .RangeDiv {
    flex-direction: column;
  }

  .Rand0Div {
    display: flex;
    flex-direction: column;
  }

  .opacityDiv {
    flex-direction: column;
    /* margin: 5px auto; 
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .radios {
    justify-content: space-between;
    margin: 5px 0;
  }

  .checkBoxDiv {
    position: absolute;
    bottom: 1000px;
    left: 10px;
    margin-top: 100px;
  }

  .div {
    margin: 10px 0;
  }

  .btn {
    margin: 5px 0;
  }

} */

/* @media (max-width:768px) {
  #left-pane {
    max-width: 40%;
  }
} */

@media (max-width:1024px) {
  #left-pane {
    max-width: 40%;
  }
}

@media (max-width:768px) {
  #left-pane {
    max-width: 50%;
    /* max-height: 100%; */
  }
  .RangeDiv {
    flex-direction: column;
  }
}

@media (max-width:425px) {
    #left-pane {
      max-width: 100vw;
      /* max-height: 100px; */
      /* display: none; */
    }

    .toggleShow {
      display: none;
    }
}





/* osm hackfest */

.form-row{
  margin-left: 5px;
  margin-bottom: 5px;
}

.first-header{
  margin-left: 5px;
}

.second-col{
  margin-left: 5px;
}


.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}



/* for collapsible div  */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}



